body {
    background-color: #EEEEEE;
}

.box-form input{
    margin-bottom: 10px;
}

.login-box {
    margin: auto;
}

.avatar {
    width: 32px;
    height: 32px;
    overflow: hidden;
    float: left;
    margin-right: 8px;
    margin-top: -7px;
}

.avatar img{
    height: 100%;
    text-align: center;
}

.box-default {
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    margin:auto;
}

/* - - - - - - -  LISTA OF USERS AND TIMELINE PUBLICATIONS  - - - - - - - - - */

.container .box-users {
    background-color: #FFFFFF;
    border: 1px solid #ccc;
}

.box-users .user-avatar .avatar {
    width: 100px;
    height: 100px;
    overflow: hidden;
    float: left;
    margin-right: 8px;
    margin-top: -7px;
}

.who-to-follow {
    margin-left: 15px;
}
.count {
    margin-left: 15px;
}

.user-item .avatar,
.publication-item .avatar {
    background-color: #eee;
    height: 75px;
    width: 75px;
    overflow:hidden;
    float: left;
    border-radius: 100%;
}

.user-item .avatar img,
.publication-item .avatar img{
    height: 100%;
    text-align: center;
}

.user-detail .user-fullname {
    font-weight: bold;
    font-size: 20px;
    padding-left: 8px;
}

.publication-item .publication-item-content {
    /*padding:10px;*/
    margin-left: 85px;
}

.publication-item .publication-item-content .publication-name-link {
    font-weight: bold;
    font-size: 15px;
    color: #000;
}

.publication-item .publication-item-content .publication-date {
    font-size: 12px;
    opacity: 0.7;
}

/* - - - - - - -  PUBLICACATIONS - - - - - - - - - */

.container #timeline {
    margin-right:20px;
    min-height: 750px;
    padding-bottom: 20px;
}

.container #user_card {
    padding:10px;
    margin-bottom: 20px;
}


.container #user_card .avatar {
    background-color: #eee;
    -webkit-border-radius:550px;
    -moz-border-radius:550px;
    border-radius:550px;
    width: 75px;
    height:75px;
    overflow: hidden;
    float: left;
}

.container #user_card .avatar img{
    height:100%;
    text-align: center;
}

.container #user_card .name-lastname {
    float: left;
    font-size: 20px;
    padding: 10px;
}

.container #user_card .name-lastname a {
    color: #000;
}

.container #user_card .nickname {
    opacity:0.7;
}

.container .box-header {
    font-size: 25px;
    color: #000;
    border-bottom: 1px solid #ccc;
    padding:10px;
    padding-top: 0px;
    font-weight:400;
}

.container #new_publication {
    padding-bottom:10px;
}

.container #new_publication input, textarea {
    margin-bottom:10px;
}

.publication-image {
    display: none;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}

.publication-image img{
    width:100%;
    text-align: center;
    display: block;
    margin:0 auto;
}

.publication-item .glyphicon {
    margin-right: 7px;
    cursor: pointer;
    color: #337ab7 !important;
}