{% extends 'AppBundle:layouts:main_layout.html.twig' %}
{% block title %}
    Social Network - Account Settings
{% endblock %}
{% block content %}
    <div class="container">
        <div class="panel panel-info box-form">
            <div class="panel-heading">
                <h4 class="panel-title">Account Settings</h4>
            </div>
            <div class="panel-body">
                {{ form_start(form, {'action':'', 'method':'POST', 'class':'form-horizontal', 'enctype': 'multipart/form-data'}) }}
                {{ form_errors(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}